In [72]:
# Dependencies
import pandas as pd

In [73]:
# load CSV
coders = "Resources/2016-FCC-New-Coders-Survey-Data.csv"

In [74]:
# Read with pandas
coders_df = pd.read_csv(coders)

C:\Users\citiz\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (21,57) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [75]:
# Inspect all columns
coders_df.columns

Index(['Age', 'AttendedBootcamp', 'BootcampFinish', 'BootcampFullJobAfter',
       'BootcampLoanYesNo', 'BootcampMonthsAgo', 'BootcampName',
       'BootcampPostSalary', 'BootcampRecommend', 'ChildrenNumber',
       ...
       'ResourceSoloLearn', 'ResourceStackOverflow', 'ResourceTreehouse',
       'ResourceUdacity', 'ResourceUdemy', 'ResourceW3Schools',
       'ResourceYouTube', 'SchoolDegree', 'SchoolMajor', 'StudentDebtOwe'],
      dtype='object', length=113)

In [76]:
# Extract only columns 0, 1, 2, 3, 4, 7, 8, 9, 10,11, 29, 30, 32, 36, 37, 45, 48, 56, 110, 111
new_df = coders_df.iloc[:,[0, 1, 2, 3, 4, 7, 8, 9, 10, 11, 29, 30, 32, 36, 37, 45, 48, 56, 110, 111]]
new_df

,Age,AttendedBootcamp,BootcampFinish,BootcampFullJobAfter,BootcampLoanYesNo,BootcampPostSalary,BootcampRecommend,ChildrenNumber,CityPopulation,CodeEventBootcamp,CountryLive,EmploymentField,EmploymentStatus,Gender,HasChildren,HoursLearning,Income,JobRoleInterest,SchoolDegree,SchoolMajor
0,28.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,United States of America,office and administrative support,Employed for wages,male,0.0,30.0,32000.0,NaN,"some college credit, no degree",NaN
1,22.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,United States of America,food and beverage,Employed for wages,male,NaN,30.0,15000.0,Front-End Web Developer,"some college credit, no degree",NaN
2,19.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,United States of America,finance,Employed for wages,male,NaN,20.0,48000.0,NaN,high school diploma or equivalent (GED),NaN
3,26.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,United States of America,"arts, entertainment, sports, or media",Employed for wages,female,NaN,20.0,43000.0,Front-End Web Developer,bachelor's degree,Cinematography And Film
4,20.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,United States of America,education,Employed for wages,female,NaN,25.0,6000.0,Full-Stack Web Developer,"some college credit, no degree",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15615,39.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,Kenya,software development and IT,Self-employed freelancer,male,0.0,40.0,10000.0,NaN,bachelor's degree,Chemistry
15616,27.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,India,software development and IT,Employed for wages,male,0.0,15.0,10000.0,Front-End Web Developer,bachelor's degree,Electrical Engineering
15617,37.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,Nigeria,NaN,Self-employed freelancer,male,NaN,14.0,48000.0,NaN,bachelor's degree,Chemistry
15618,26.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,Spain,education,Self-employed freelancer,male,NaN,10.0,10000.0,NaN,master's degree (non-professional),Math
15619,22.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,United States of America,"arts, entertainment, sports, or media",Employed for wages,female,0.0,2.0,18000.0,NaN,bachelor's degree,Graphic Design

In [77]:
# Change "0" to "No" and "1" to "Yes" in response columns
#new_df.fillna(0, inplace=True)
new_df = new_df.replace({0:'no', 1:'yes'})
#new_df = new_df.replace({1},'yes')
new_df.head(100)

,Age,AttendedBootcamp,BootcampFinish,BootcampFullJobAfter,BootcampLoanYesNo,BootcampPostSalary,BootcampRecommend,ChildrenNumber,CityPopulation,CodeEventBootcamp,CountryLive,EmploymentField,EmploymentStatus,Gender,HasChildren,HoursLearning,Income,JobRoleInterest,SchoolDegree,SchoolMajor
0,28.0,no,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,United States of America,office and administrative support,Employed for wages,male,no,30,32000.0,NaN,"some college credit, no degree",NaN
1,22.0,no,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,United States of America,food and beverage,Employed for wages,male,NaN,30,15000.0,Front-End Web Developer,"some college credit, no degree",NaN
2,19.0,no,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,United States of America,finance,Employed for wages,male,NaN,20,48000.0,NaN,high school diploma or equivalent (GED),NaN
3,26.0,no,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,United States of America,"arts, entertainment, sports, or media",Employed for wages,female,NaN,20,43000.0,Front-End Web Developer,bachelor's degree,Cinematography And Film
4,20.0,no,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,United States of America,education,Employed for wages,female,NaN,25,6000.0,Full-Stack Web Developer,"some college credit, no degree",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,16.0,no,NaN,NaN,NaN,NaN,NaN,NaN,"less than 100,000",NaN,United States of America,NaN,Doing an unpaid internship,male,NaN,7,NaN,Full-Stack Web Developer,some high school,NaN
96,23.0,no,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,United States of America,NaN,Not working but looking for work,male,NaN,40,NaN,Full-Stack Web Developer,"some college credit, no degree",NaN
97,26.0,yes,yes,yes,no,45000.0,no,NaN,more than 1 million,NaN,United States of America,software development,Employed for wages,male,no,10,40000.0,NaN,master's degree (non-professional),Music
98,25.0,no,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,"Netherlands (Holland, Europe)",software development,Self-employed freelancer,male,NaN,40,30000.0,NaN,bachelor's degree,Public Administration
99,25.0,no,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,United States of America,office and administrative support,Employed for wages,male,no,10,40000.0,Full-Stack Web Developer,bachelor's degree,Anthropology

In [107]:
# Calculate total number of respondents in survey
len(new_df )

15620

In [108]:
# Extract rows corresponding only to people who attended a bootcamp
df_attended = new_df.loc[new_df['AttendedBootcamp']=='yes']
df_attended.head()

,Age,AttendedBootcamp,BootcampFinish,BootcampFullJobAfter,BootcampLoanYesNo,BootcampPostSalary,BootcampRecommend,ChildrenNumber,CityPopulation,CodeEventBootcamp,CountryLive,EmploymentField,EmploymentStatus,Gender,HasChildren,HoursLearning,Income,JobRoleInterest,SchoolDegree,SchoolMajor
93,32.0,yes,yes,no,no,NaN,no,NaN,"between 100,000 and 1 million",NaN,United States of America,"arts, entertainment, sports, or media",Self-employed business owner,male,NaN,20,67000.0,NaN,bachelor's degree,Biology
97,26.0,yes,yes,yes,no,45000.0,no,NaN,more than 1 million,NaN,United States of America,software development,Employed for wages,male,no,10,40000.0,NaN,master's degree (non-professional),Music
130,41.0,yes,yes,yes,yes,75000.0,yes,3,"less than 100,000",NaN,United States of America,software development,Employed for wages,male,yes,30,75000.0,NaN,"some college credit, no degree",NaN
159,26.0,yes,yes,no,no,NaN,no,NaN,"between 100,000 and 1 million",NaN,United States of America,NaN,Not working and not looking for work,female,NaN,30,NaN,Full-Stack Web Developer,"some college credit, no degree",NaN
188,24.0,yes,no,NaN,yes,NaN,no,NaN,"between 100,000 and 1 million",NaN,Canada,NaN,Not working but looking for work,female,NaN,60,NaN,NaN,"some college credit, no degree",NaN

In [109]:
# 1 Calculate average age of attendees
avg = df_attended['Age'].astype(float).mean()
avg

31.066014669926652

In [110]:
# Calculate how many people attended a bootcamp
attended = df_attended.loc[df_attended['AttendedBootcamp']=='yes']
attended = len(attended)
attended

953

In [116]:
# Calculate how many attendees hold degrees
#degrees = df_attended['SchoolDegree'].value_counts()
#degrees
degree_filter = ["bachelor's degree", "Ph.D.", "master's degree (non-professional)", "professional degree (MBA, MD, JD, etc.)"]
df_attended['HasDegree'] = df_attended['SchoolDegree'].isin(degree_filter).replace({True:1, False:0})  
df_attended['HasDegree'].sum()

<ipython-input-116-3b1dddcc11aa>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_attended['HasDegree'] = df_attended['SchoolDegree'].isin(degree_filter).replace({True:1, False:0})

605

In [112]:
# Count number of attendees who self-identify as male; female; 
#or are of non-binary gender identification
identification = df_attended['Gender'].value_counts()
identification

male           496
female         326
genderqueer      6
trans            3
agender          2
Name: Gender, dtype: int64

In [96]:
total_gender = ['Gender'].value_counts()['male']
total_gender

TypeError: 'int' object is not subscriptable

In [92]:
# Calculate percentage of respondents who attended a bootcamp
percentage = round((496/len_respondents)*100,2)
percentage

NameError: name 'len_respondents' is not defined

In [ ]:
# Calculate percentage of respondents belonging to each gender

In [ ]:
# Calculate percentage of attendees with a school degree

In [ ]:
# 1 Calculate average post-bootcamp salary

In [ ]:
# Create a new table consolodating above calculations

In [ ]:
# Improve formatting before outputting spreadsheet

In [ ]:
# Export to Excel